*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background: rgb(230, 227, 227); 
}
header{
    text-align:center;
}
.bikcraft{
    padding: 55px;
}
.links{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}
.links a{
    text-decoration: none;
    color: black;
    background: whitesmoke;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 12px;
}
.links a:hover{
    border: 2px solid red;
}
main section{
    justify-content: center;
}
.section1{
    display: flex;
    flex-direction: row;
    padding-inline: 5px;
    padding-top: 35px;
    width: 800px;
}
.section1 img{
   max-width: 400px;
}
.bicicleta{
    background:whitesmoke;
    padding-top: 58px;
    padding-inline: 28px;
    text-align: end;
}
.section1 h1{
   padding-bottom: 10px;
}
.section1 button{
    padding: 10px;
    border-radius: 10%;
    border: none;
    background: rgb(209, 89, 9);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color:rgb(167, 71, 7) ;
}
.section2{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
.pt2{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    max-width: 400px;
}
.vant{
    padding-top: 10rem;
    padding-inline: 58px;
    text-align: end;
    font-size: 15px;
}
.eletrica{
    margin: 10px;
    background: rgb(230, 227, 227);
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.bike-elet{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.velocidade{
    margin: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.section2 p{
    text-align: justify;
    padding-inline: 35px;
}
section{
    margin: 0 auto;
}
footer{
    text-align: center;
    background: whitesmoke;
    width: 100%;
    padding: 15px;
}